
\.vs/G510Display/v15/Server/sqlite3/db\.lock

\.vs/G510Display/v15/Server/sqlite3/storage\.ide

\.vs/G510Display/v15/Server/sqlite3/storage\.ide-shm

\.vs/G510Display/v15/Server/sqlite3/storage\.ide-wal

G510Display/bin/x64/Debug/G510Display\.exe

G510Display/bin/x64/Debug/G510Display\.pdb

G510Display/bin/x64/Debug/LogitechLcdEnginesWrapper_x64\.dll

G510Display/bin/x64/Debug/Microsoft\.Exchange\.WebServices\.dll

G510Display/obj/x64/Debug/DesignTimeResolveAssemblyReferencesInput\.cache

G510Display/obj/x64/Debug/G510Display\.csproj\.CopyComplete

G510Display/obj/x64/Debug/G510Display\.csproj\.CoreCompileInputs\.cache

G510Display/obj/x64/Debug/G510Display\.csproj\.FileListAbsolute\.txt

G510Display/obj/x64/Debug/G510Display\.csproj\.GenerateResource\.cache

G510Display/obj/x64/Debug/G510Display\.csprojAssemblyReference\.cache

G510Display/obj/x64/Debug/G510Display\.exe

G510Display/obj/x64/Debug/G510Display\.pdb

G510Display/obj/x64/Debug/G510Display\.Properties\.Resources\.resources

G510Display/obj/x64/Debug/G510Display\.Source\.Forms\.ConfigurationForm\.resources

G510Display/obj/x64/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92\.cs

G510Display/obj/x64/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1\.cs

G510Display/obj/x64/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3\.cs

packages/Microsoft\.Exchange\.WebServices\.2\.2/doc/License Terms\.rtf

packages/Microsoft\.Exchange\.WebServices\.2\.2/doc/README\.htm

packages/Microsoft\.Exchange\.WebServices\.2\.2/doc/Redist\.txt

packages/Microsoft\.Exchange\.WebServices\.2\.2/lib/40/Microsoft\.Exchange\.WebServices\.Auth\.dll

packages/Microsoft\.Exchange\.WebServices\.2\.2/lib/40/Microsoft\.Exchange\.WebServices\.Auth\.pdb

packages/Microsoft\.Exchange\.WebServices\.2\.2/lib/40/Microsoft\.Exchange\.WebServices\.Auth\.xml

packages/Microsoft\.Exchange\.WebServices\.2\.2/lib/40/Microsoft\.Exchange\.WebServices\.dll

packages/Microsoft\.Exchange\.WebServices\.2\.2/lib/40/Microsoft\.Exchange\.WebServices\.pdb

packages/Microsoft\.Exchange\.WebServices\.2\.2/lib/40/Microsoft\.Exchange\.WebServices\.xml

packages/Microsoft\.Exchange\.WebServices\.2\.2/Microsoft\.Exchange\.WebServices\.2\.2\.nupkg

\.vs/G510Display/DesignTimeBuild/\.dtbcache

\.vs/G510Display/v15/\.suo

G510Display/bin/x64/Debug/G510Display\.exe\.config

G510Display/bin/x64/Debug/LogitechLcdEnginesWrapper_x86\.dll

G510Display/bin/x64/Debug/Microsoft\.Exchange\.WebServices\.Auth\.dll

G510Display/bin/x64/Debug/Microsoft\.Exchange\.WebServices\.Auth\.pdb

G510Display/bin/x64/Debug/Microsoft\.Exchange\.WebServices\.Auth\.xml

G510Display/bin/x64/Debug/Microsoft\.Exchange\.WebServices\.pdb

G510Display/bin/x64/Debug/Microsoft\.Exchange\.WebServices\.xml
